.login-screen {
    width: 100vw;
    height: 100vh;
    background-image: url("./img/bg-01.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .login-title {
        font-weight: 700;
        font-size: 24px;
        color: #1c94a5;
        margin: 10px auto 30px;
    }
    .text-field-item {
        width: 100%;
        display: flex;
        margin-bottom: 16px;
        flex-direction: column;
        .input-item {
            width: 100%;
            margin-top: 6px;
            height: 40px;
            padding: 0 20px;
        }
        .password-block {
            position: relative;
        }
        .showPasswordIcon {
            position: absolute;
            top: 20px;
            right: 12px;
        }
    }
    .login-button {
        width: 100%;
        height: 40px;
        color: #fff;
        background-color: #1c94a5;
        border-radius: 15px;
        margin-top: 20px;
        &:hover {
            background-color: #057c8b;
        }
    }
    .forgotPassword {
        font-size: 13px;
        color: rgb(50, 16, 128);
        margin-top: 10px;
    }
    .other-login {
        margin-top: 34px;
    }
    .social-network {
        display: flex;
        margin-top: 8px;
        border: 1px solid rgb(184, 183, 183);
        padding: 8px 20px;
        border-radius: 30px;
        .social-google {
            margin-right: 20px;
        }
    }
    .route-signup-block {
        margin-top: 50px;
        .route-signup {
            color: #05899b;
        }
    }
}
